/* screen - iphone-13-13-pro-20 */

.iphone-13-13-pro-20 {
  align-items: center;
  background-color: var(--japanese-laurel);
  display: flex;
  flex-direction: column;
  height: 844px;
  width: 390px;
}

.iphone-13-13-pro-20 .overlap-group4 {
  align-items: flex-start;
  background-color: var(--web-orange);
  border-radius: 35px;
  display: flex;
  height: 404px;
  min-width: 390px;
  padding: 54px 40px;
}

.iphone-13-13-pro-20 .eiger-logo-vector-_cdr-1 {
  height: 266px;
  width: 308px;
}

.iphone-13-13-pro-20 .overlap-group3 {
  height: 281px;
  margin-right: 4.0px;
  margin-top: 52px;
  position: relative;
  width: 362px;
}

.iphone-13-13-pro-20 .jawaban-logo {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 281px;
  position: absolute;
  top: 0;
  width: 362px;
}

.iphone-13-13-pro-20 .ellipse-1 {
  background-color: var(--mist-gray);
  border-radius: 0.5px;
  height: 1px;
  margin-left: 3px;
  width: 1px;
}

.iphone-13-13-pro-20 .jawaban-pu-container {
  height: 240px;
  margin-top: 40px;
  position: relative;
  width: 364px;
}

.iphone-13-13-pro-20 .jawaban-pu {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 100px;
  left: 0;
  min-width: 162px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-20 .overlap-group {
  align-items: flex-start;
  background-color: var(--mist-gray);
  border-radius: 20px;
  display: flex;
  min-width: 160px;
}

.iphone-13-13-pro-20 .eiger {
  height: 100px;
  letter-spacing: 0;
  text-align: center;
  width: 160px;
}

.iphone-13-13-pro-20 .jawaban-pu-1 {
  align-items: flex-end;
  display: flex;
  height: 240px;
  left: 0;
  min-width: 364px;
  position: absolute;
  top: 0;
}

.iphone-13-13-pro-20 .overlap-group1 {
  align-items: flex-start;
  background-color: var(--mist-gray);
  border-radius: 20px;
  display: flex;
  margin-bottom: 7px;
  min-width: 160px;
}

.iphone-13-13-pro-20 .bodypack {
  cursor: pointer;
  height: 100px;
  letter-spacing: 0;
  text-align: center;
  width: 160px;
}

.iphone-13-13-pro-20 .jawaban-pu-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 42px;
  min-height: 240px;
  width: 160px;
}

.iphone-13-13-pro-20 .jawaban-pu-3 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  min-width: 162px;
}

.iphone-13-13-pro-20 .starbucks {
  height: 100px;
  letter-spacing: 0;
  text-align: center;
  width: 160px;
}

.iphone-13-13-pro-20 .rectangle-8 {
  background-color: var(--mist-gray);
  border-radius: 20px;
  height: 100px;
  margin-top: 40px;
  width: 160px;
}

.iphone-13-13-pro-20 .place {
  color: #f8f8f8;
  cursor: pointer;
  font-family: var(--font-family-mina);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 101px;
  left: 201px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 180px;
  width: 161px;
}
