/* screen - iphone-13-13-pro-1 */

.iphone-13-13-pro-1 {
  background-color: #440064;
  height: 844px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.iphone-13-13-pro-1 .rectangle-2-C61RwL {
  --z-index: 0;
  background-color: #ffd8d8;
  border: 1px solid #000000;
  border-radius: 25px;
  height: 104px;
  left: 29px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 46px;
  width: 331px;
}

.iphone-13-13-pro-1 .petunjuk-permainan-p-C61RwL {
  --z-index: 1;
  background-color: transparent;
  color: transparent;
  font-family: 'Mohave', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  height: 286px;
  left: 29px;
  letter-spacing: 0.00px;
  line-height: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 209px;
  width: 331px;
}

.iphone-13-13-pro-1 .span0-JWUYEm {
  color: #fff400;
  font-style: normal;
}

.iphone-13-13-pro-1 .span1-JWUYEm {
  color: #ffffff;
  font-style: normal;
}

.iphone-13-13-pro-1 .group-1-C61RwL {
  --z-index: 2;
  background-color: transparent;
  cursor: pointer;
  height: 84px;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 594px;
  width: 159px;
}

.iphone-13-13-pro-1 .rectangle-3-VyzZeT {
  --z-index: 0;
  background-color: #0738e6;
  border-radius: 20px;
  height: 84px;
  left: 2px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 155px;
}

.iphone-13-13-pro-1 .matematika-VyzZeT {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Mohave', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: 84px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 157px;
}

.iphone-13-13-pro-1 .group-2-C61RwL {
  --z-index: 3;
  background-color: transparent;
  cursor: pointer;
  height: 86px;
  left: 203px;
  opacity: 1;
  position: absolute;
  top: 592px;
  width: 159px;
}

.iphone-13-13-pro-1 .rectangle-4-zUixHA {
  --z-index: 0;
  background-color: #ff0000;
  border-radius: 20px;
  height: 84px;
  left: 2px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 2px;
  width: 155px;
}

.iphone-13-13-pro-1 .pengetahuan-umum-zUixHA {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Mohave', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: 86px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 157px;
}

.iphone-13-13-pro-1 .group-3-C61RwL {
  --z-index: 4;
  background-color: transparent;
  cursor: pointer;
  height: 85px;
  left: 26px;
  opacity: 1;
  position: absolute;
  top: 705px;
  width: 157px;
}

.iphone-13-13-pro-1 .rectangle-5-hvAGCq {
  --z-index: 0;
  background-color: #009f06;
  border-radius: 20px;
  height: 84px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 1px;
  width: 155px;
}

.iphone-13-13-pro-1 .tebak-logo-hvAGCq {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Mohave', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: 85px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 155px;
}

.iphone-13-13-pro-1 .group-4-C61RwL {
  --z-index: 5;
  background-color: transparent;
  cursor: pointer;
  height: 85px;
  left: 204px;
  opacity: 1;
  position: absolute;
  top: 705px;
  width: 158px;
}

.iphone-13-13-pro-1 .rectangle-6-KOsP6k {
  --z-index: 0;
  background-color: #ffa800;
  border-radius: 20px;
  height: 84px;
  left: 1px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 1px;
  width: 155px;
}

.iphone-13-13-pro-1 .naruto-KOsP6k {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Mohave', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: 85px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 156px;
}

.iphone-13-13-pro-1 .group-5-C61RwL {
  --z-index: 6;
  background-color: transparent;
  cursor: pointer;
  height: 85px;
  left: 204px;
  opacity: 1;
  position: absolute;
  top: 705px;
  width: 158px;
}

.iphone-13-13-pro-1 .rectangle-6-iZjIT4 {
  --z-index: 0;
  background-color: #ffa800;
  border-radius: 20px;
  height: 84px;
  left: 1px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 1px;
  width: 155px;
}

.iphone-13-13-pro-1 .naruto-iZjIT4 {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Mohave', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: 85px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 156px;
}

.iphone-13-13-pro-1 .welcome-to-quizzez-C61RwL {
  --z-index: 7;
  background-color: transparent;
  color: #000000;
  font-family: 'Mohave', Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  height: 106px;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 44px;
  width: 333px;
}
/* screen - iphone-13-13-pro-12 */

.iphone-13-13-pro-12 {
  background-color: #0738e6;
  height: 844px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.iphone-13-13-pro-12 .rectangle-9-C61RwL {
  --z-index: 0;
  background-color: #ff0000;
  border-radius: 35px;
  height: 404px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 390px;
}

.iphone-13-13-pro-12 .text-1-C61RwL {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Mina', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 404px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 390px;
}

.iphone-13-13-pro-12 .jawaban-pu-C61RwL {
  --z-index: 2;
  background-color: transparent;
  height: 281px;
  left: 12px;
  opacity: 1;
  position: absolute;
  top: 456px;
  width: 366px;
}

.iphone-13-13-pro-12 .ellipse-1-J3f8af {
  --z-index: 0;
  background-color: #c4c4c4;
  border-radius: 0.5px;
  height: 1px;
  left: 3px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1px;
}

.iphone-13-13-pro-12 .jawaban-pu-J3f8af {
  --z-index: 1;
  background-color: transparent;
  cursor: pointer;
  height: 100px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 41px;
  width: 162px;
}

.iphone-13-13-pro-12 .rectangle-8-Y20nCl {
  --z-index: 0;
  background-color: #000000;
  border-radius: 20px;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 160px;
}

.iphone-13-13-pro-12 .number-Y20nCl {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Mina', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 100px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 160px;
}

.iphone-13-13-pro-12 .jawaban-pu-1aFMgl {
  --z-index: 2;
  background-color: transparent;
  height: 240px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 41px;
  width: 368px;
}

.iphone-13-13-pro-12 .rectangle-8-9Uu8Ft {
  --z-index: 0;
  background-color: #000000;
  border-radius: 20px;
  cursor: pointer;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 133px;
  width: 160px;
}

.iphone-13-13-pro-12 .number-9Uu8Ft {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Mina', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 100px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 133px;
  width: 160px;
}

.iphone-13-13-pro-12 .jawaban-pu-9Uu8Ft {
  --z-index: 2;
  background-color: transparent;
  height: 240px;
  left: 202px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 166px;
}

.iphone-13-13-pro-12 .rectangle-8-zbxOI6 {
  --z-index: 0;
  background-color: #000000;
  border-radius: 20px;
  cursor: pointer;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 140px;
  width: 160px;
}

.iphone-13-13-pro-12 .number-zbxOI6 {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Mina', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 100px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 140px;
  width: 160px;
}

.iphone-13-13-pro-12 .jawaban-pu-zbxOI6 {
  --z-index: 2;
  background-color: transparent;
  cursor: pointer;
  height: 100px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 162px;
}

.iphone-13-13-pro-12 .rectangle-8-sUis1c {
  --z-index: 0;
  background-color: #000000;
  border-radius: 20px;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 160px;
}

.iphone-13-13-pro-12 .number-sUis1c {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Mina', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 100px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 160px;
}
/* screen - iphone-13-13-pro-3 */

.iphone-13-13-pro-3 {
  background-color: #ff0000;
  height: 844px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.iphone-13-13-pro-3 .rectangle-7-C61RwL {
  --z-index: 0;
  background-color: #4dc3dd;
  border-radius: 35px;
  height: 404px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 390px;
}

.iphone-13-13-pro-3 .siapakah-penemu-benua-amerika-C61RwL {
  --z-index: 1;
  background-color: transparent;
  color: #000000;
  font-family: 'Mina', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 404px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 390px;
}

.iphone-13-13-pro-3 .jawaban-pu-C61RwL {
  --z-index: 2;
  background-color: transparent;
  cursor: pointer;
  height: 100px;
  left: 12px;
  opacity: 1;
  position: absolute;
  top: 484px;
  width: 162px;
}

.iphone-13-13-pro-3 .rectangle-8-J3f8af {
  --z-index: 0;
  background-color: #000000;
  border-radius: 20px;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 160px;
}

.iphone-13-13-pro-3 .kyian-pogba-J3f8af {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Mina', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 100px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 160px;
}

.iphone-13-13-pro-3 .jawaban-pu-VMr6Om {
  --z-index: 3;
  background-color: transparent;
  height: 240px;
  left: 12px;
  opacity: 1;
  position: absolute;
  top: 484px;
  width: 364px;
}

.iphone-13-13-pro-3 .rectangle-8-ax3yos {
  --z-index: 0;
  background-color: #000000;
  border-radius: 20px;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 133px;
  width: 160px;
}

.iphone-13-13-pro-3 .chritopher-colombus-ax3yos {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Mina', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 100px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 133px;
  width: 160px;
}

.iphone-13-13-pro-3 .jawaban-pu-ax3yos {
  --z-index: 2;
  background-color: transparent;
  height: 240px;
  left: 202px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 162px;
}

.iphone-13-13-pro-3 .rectangle-8-qFpnxm {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/rectangle-8@2x.svg);
  background-size: 100% 100%;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 140px;
  width: 160px;
}

.iphone-13-13-pro-3 .name-qFpnxm {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Mina', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 100px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 140px;
  width: 160px;
}

.iphone-13-13-pro-3 .jawaban-pu-qFpnxm {
  --z-index: 2;
  background-color: transparent;
  cursor: pointer;
  height: 100px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 162px;
}

.iphone-13-13-pro-3 .rectangle-8-xqjs5B {
  --z-index: 0;
  background-color: #000000;
  border-radius: 20px;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 160px;
}

.iphone-13-13-pro-3 .name-xqjs5B {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Mina', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 100px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 160px;
}
/* screen - iphone-13-13-pro-17 */

.iphone-13-13-pro-17 {
  background-color: #009f06;
  height: 844px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.iphone-13-13-pro-17 .rectangle-9-C61RwL {
  --z-index: 0;
  background-color: #ffa800;
  border-radius: 35px;
  height: 404px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 390px;
}

.iphone-13-13-pro-17 .jawaban-logo-C61RwL {
  --z-index: 1;
  background-color: transparent;
  height: 281px;
  left: 12px;
  opacity: 1;
  position: absolute;
  top: 456px;
  width: 366px;
}

.iphone-13-13-pro-17 .jawaban-pu-AxtIB3 {
  --z-index: 0;
  background-color: transparent;
  height: 281px;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 366px;
}

.iphone-13-13-pro-17 .ellipse-1-pDyR47 {
  --z-index: 0;
  background-color: #c4c4c4;
  border-radius: 0.5px;
  height: 1px;
  left: 3px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1px;
}

.iphone-13-13-pro-17 .jawaban-pu-pDyR47 {
  --z-index: 1;
  background-color: transparent;
  height: 100px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 41px;
  width: 162px;
}

.iphone-13-13-pro-17 .rectangle-8-on0pS2 {
  --z-index: 0;
  background-color: #c4c4c4;
  border-radius: 20px;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 160px;
}

.iphone-13-13-pro-17 .place-on0pS2 {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Mina', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 100px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 160px;
}

.iphone-13-13-pro-17 .jawaban-pu-OKAvR5 {
  --z-index: 2;
  background-color: transparent;
  height: 240px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 41px;
  width: 368px;
}

.iphone-13-13-pro-17 .rectangle-8-FIZBRN {
  --z-index: 0;
  background-color: #c4c4c4;
  border-radius: 20px;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 133px;
  width: 160px;
}

.iphone-13-13-pro-17 .facebook-FIZBRN {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Mina', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 100px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 133px;
  width: 160px;
}

.iphone-13-13-pro-17 .jawaban-pu-FIZBRN {
  --z-index: 2;
  background-color: transparent;
  height: 240px;
  left: 202px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 166px;
}

.iphone-13-13-pro-17 .rectangle-8-NpBxOb {
  --z-index: 0;
  background-color: #c4c4c4;
  border-radius: 20px;
  cursor: pointer;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 140px;
  width: 160px;
}

.iphone-13-13-pro-17 .infinity-ward-NpBxOb {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Mina', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 100px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 140px;
  width: 160px;
}

.iphone-13-13-pro-17 .jawaban-pu-NpBxOb {
  --z-index: 2;
  background-color: transparent;
  cursor: pointer;
  height: 100px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 162px;
}

.iphone-13-13-pro-17 .rectangle-8-FaK9r4 {
  --z-index: 0;
  background-color: #c4c4c4;
  border-radius: 20px;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 160px;
}

.iphone-13-13-pro-17 .zucc-FaK9r4 {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Mina', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 100px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 160px;
}

.iphone-13-13-pro-17 .meta-logo-2021-new-f-C61RwL {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/meta-logo--2021-new-facebook--download-vector-1@2x.png);
  background-size: 100% 100%;
  height: 273px;
  left: -10px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 65px;
  width: 400px;
}
/* screen - iphone-13-13-pro-2 */

.iphone-13-13-pro-2 {
  background-color: #ffa800;
  height: 844px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.iphone-13-13-pro-2 .jawaban-logo-C61RwL {
  --z-index: 0;
  background-color: transparent;
  height: 281px;
  left: 12px;
  opacity: 1;
  position: absolute;
  top: 422px;
  width: 366px;
}

.iphone-13-13-pro-2 .jawaban-pu-AxtIB3 {
  --z-index: 0;
  background-color: transparent;
  height: 281px;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 366px;
}

.iphone-13-13-pro-2 .ellipse-1-pDyR47 {
  --z-index: 0;
  background-color: #c4c4c4;
  border-radius: 0.5px;
  height: 1px;
  left: 3px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1px;
}

.iphone-13-13-pro-2 .jawaban-pu-pDyR47 {
  --z-index: 1;
  background-color: transparent;
  cursor: pointer;
  height: 100px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 41px;
  width: 162px;
}

.iphone-13-13-pro-2 .rectangle-8-on0pS2 {
  --z-index: 0;
  background-color: #c4c4c4;
  border-radius: 20px;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 160px;
}

.iphone-13-13-pro-2 .hinata-hyuga-on0pS2 {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Mina', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 100px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 160px;
}

.iphone-13-13-pro-2 .jawaban-pu-OKAvR5 {
  --z-index: 2;
  background-color: transparent;
  height: 240px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 41px;
  width: 368px;
}

.iphone-13-13-pro-2 .rectangle-8-FIZBRN {
  --z-index: 0;
  background-color: #c4c4c4;
  border-radius: 20px;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 133px;
  width: 160px;
}

.iphone-13-13-pro-2 .name-FIZBRN {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Mina', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 100px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 133px;
  width: 160px;
}

.iphone-13-13-pro-2 .jawaban-pu-FIZBRN {
  --z-index: 2;
  background-color: transparent;
  height: 240px;
  left: 202px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 166px;
}

.iphone-13-13-pro-2 .rectangle-8-NpBxOb {
  --z-index: 0;
  background-color: #c4c4c4;
  border-radius: 20px;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 140px;
  width: 160px;
}

.iphone-13-13-pro-2 .mikasa-ackerman-NpBxOb {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Mina', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 100px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 140px;
  width: 160px;
}

.iphone-13-13-pro-2 .jawaban-pu-NpBxOb {
  --z-index: 2;
  background-color: transparent;
  cursor: pointer;
  height: 100px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 162px;
}

.iphone-13-13-pro-2 .rectangle-8-FaK9r4 {
  --z-index: 0;
  background-color: #c4c4c4;
  border-radius: 20px;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 160px;
}

.iphone-13-13-pro-2 .nezuko-chan-FaK9r4 {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Mina', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 100px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 160px;
}

.iphone-13-13-pro-2 .jawaban-logo-VMr6Om {
  --z-index: 1;
  background-color: transparent;
  height: 281px;
  left: 12px;
  opacity: 1;
  position: absolute;
  top: 422px;
  width: 366px;
}

.iphone-13-13-pro-2 .jawaban-pu-gqxdUT {
  --z-index: 0;
  background-color: transparent;
  height: 281px;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 366px;
}

.iphone-13-13-pro-2 .ellipse-1-GrIZ12 {
  --z-index: 0;
  background-color: #c4c4c4;
  border-radius: 0.5px;
  height: 1px;
  left: 3px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1px;
}

.iphone-13-13-pro-2 .jawaban-pu-GrIZ12 {
  --z-index: 1;
  background-color: transparent;
  cursor: pointer;
  height: 100px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 41px;
  width: 162px;
}

.iphone-13-13-pro-2 .rectangle-8-9beoQU {
  --z-index: 0;
  background-color: #c4c4c4;
  border-radius: 20px;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 160px;
}

.iphone-13-13-pro-2 .hinata-hyuga-9beoQU {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Mina', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 100px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 160px;
}

.iphone-13-13-pro-2 .jawaban-pu-V5QkOt {
  --z-index: 2;
  background-color: transparent;
  height: 240px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 41px;
  width: 368px;
}

.iphone-13-13-pro-2 .rectangle-8-lmtzPy {
  --z-index: 0;
  background-color: #c4c4c4;
  border-radius: 20px;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 133px;
  width: 160px;
}

.iphone-13-13-pro-2 .name-lmtzPy {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Mina', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 100px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 133px;
  width: 160px;
}

.iphone-13-13-pro-2 .jawaban-pu-lmtzPy {
  --z-index: 2;
  background-color: transparent;
  height: 240px;
  left: 202px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 166px;
}

.iphone-13-13-pro-2 .rectangle-8-cXrM21 {
  --z-index: 0;
  background-color: #c4c4c4;
  border-radius: 20px;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 140px;
  width: 160px;
}

.iphone-13-13-pro-2 .mikasa-ackerman-cXrM21 {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Mina', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 100px;
  left: 4px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 140px;
  width: 160px;
}

.iphone-13-13-pro-2 .jawaban-pu-cXrM21 {
  --z-index: 2;
  background-color: transparent;
  cursor: pointer;
  height: 100px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 162px;
}

.iphone-13-13-pro-2 .rectangle-8-11jjdx {
  --z-index: 0;
  background-color: #c4c4c4;
  border-radius: 20px;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 160px;
}

.iphone-13-13-pro-2 .nezuko-chan-11jjdx {
  --z-index: 1;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Mina', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 100px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 160px;
}

.iphone-13-13-pro-2 .rectangle-7-C61RwL {
  --z-index: 2;
  background-color: #009f06;
  border-radius: 35px;
  height: 404px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 390px;
}

.iphone-13-13-pro-2 .siapa-nama-istri-naruto-C61RwL {
  --z-index: 3;
  background-color: transparent;
  color: #000000;
  font-family: 'Mina', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 404px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 390px;
}
